# Exclude private tor files
domain/*
shared/*
ob_config
config.yaml

# Log files
*.log

# env
env
.env
venv

# VSC
.vscode

# Data
data

# Wireguard
**/wireguard.conf

# Private build instructions and todo list ;)
BUILD.md
TODO.md
